<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-parking-area-heading">Create or edit a Parking Area</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_capacity">Capacity</label>
                    <input type="number" class="form-control" name="capacity" id="field_capacity"
                           formControlName="capacity"/>
                    <div *ngIf="editForm.get('capacity')!.invalid && (editForm.get('capacity')!.dirty || editForm.get('capacity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('capacity')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('capacity')?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('capacity')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_completlyOccupied">Completly Occupied</label>
                    <input type="checkbox" class="form-control" name="completlyOccupied" id="field_completlyOccupied"
                           formControlName="completlyOccupied"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_parkingFacility">Parking Facility</label>
                    <select class="form-control" id="field_parkingFacility" name="parkingFacility" formControlName="parkingFacilityId">
                        <option *ngIf="!editForm.get('parkingFacilityId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="parkingFacilityOption.id" *ngFor="let parkingFacilityOption of parkingfacilities; trackBy: trackById">{{ parkingFacilityOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('parkingFacilityId')!.invalid && (editForm.get('parkingFacilityId')!.dirty || editForm.get('parkingFacilityId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('parkingFacilityId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
