<div class="row">
    <div class="col-12">
        <div class="card">
            <h3 class="text-center mt-3">Willkommen in der Smart Campus Suite der Universität Hohenheim.</h3>
            <h5 class="text-center">Bei diesem System handelt es sich im Moment noch um einen Prototypen</h5>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <button [routerLink]="'/parking-management'" class="btn btn-light btn-block">
            <fa-icon [icon]="faParking" size="6x"></fa-icon> <h3>Parking Management</h3></button>
    </div>
    <div class="col-12 mt-3">
        <button [routerLink]="'/smart-lernplatz'" class="btn btn-light btn-block"><fa-icon [icon]="faBook" size="6x"></fa-icon> <h3>Lernplatz Management</h3></button>
    </div>
</div>

