<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="learningSpot">
            <h2><span>Learning Spot</span> {{ learningSpot.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Occupied</span></dt>
                <dd>
                    <span>{{ learningSpot.occupied }}</span>
                </dd>
                <dt><span>Socket</span></dt>
                <dd>
                    <span>{{ learningSpot.socket }}</span>
                </dd>
                <dt><span>Silence</span></dt>
                <dd>
                    <span>{{ learningSpot.silence }}</span>
                </dd>
                <dt><span>Learning Area</span></dt>
                <dd>
                    <div *ngIf="learningSpot.learningAreaId">
                        <a [routerLink]="['/learning-area', learningSpot.learningAreaId, 'view']">{{ learningSpot.learningAreaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/learning-spot', learningSpot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
