<div>
    <h2 id="page-heading">
        <span>Learning Spots</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-learning-spot" [routerLink]="['/learning-spot/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Learning Spot
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="learningSpots?.length === 0">
        <span>No learningSpots found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="learningSpots?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Occupied</span></th>
                    <th scope="col" ><span>Socket</span></th>
                    <th scope="col" ><span>Silence</span></th>
                    <th scope="col" ><span>Learning Area</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let learningSpot of learningSpots ;trackBy: trackId">
                    <td><a [routerLink]="['/learning-spot', learningSpot.id, 'view']">{{ learningSpot.id }}</a></td>
                    <td>{{ learningSpot.occupied }}</td>
                    <td>{{ learningSpot.socket }}</td>
                    <td>{{ learningSpot.silence }}</td>
                    <td>
                        <div *ngIf="learningSpot.learningAreaId">
                            <a [routerLink]="['/learning-area', learningSpot.learningAreaId , 'view']" >{{ learningSpot.learningAreaId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/learning-spot', learningSpot.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/learning-spot', learningSpot.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(learningSpot)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
