<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-occupancy-history-heading">Create or edit a Occupancy History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_timeStamp">Time Stamp</label>
                    <div class="d-flex">
                        <input id="field_timeStamp" type="datetime-local" class="form-control" name="timeStamp" formControlName="timeStamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_occCounter">Occ Counter</label>
                    <input type="number" class="form-control" name="occCounter" id="field_occCounter"
                           formControlName="occCounter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_leanringSpotId">Leanring Spot Id</label>
                    <input type="number" class="form-control" name="leanringSpotId" id="field_leanringSpotId"
                           formControlName="leanringSpotId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_localDateStamp">Local Date Stamp</label>
                    <div class="input-group">
                        <input id="field_localDateStamp" type="text" class="form-control" name="localDateStamp" ngbDatepicker #localDateStampDp="ngbDatepicker" formControlName="localDateStamp"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="localDateStampDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
