<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="occupancyHistory">
            <h2><span>Occupancy History</span> {{ occupancyHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Time Stamp</span></dt>
                <dd>
                    <span>{{ occupancyHistory.timeStamp }}</span>
                </dd>
                <dt><span>Occ Counter</span></dt>
                <dd>
                    <span>{{ occupancyHistory.occCounter }}</span>
                </dd>
                <dt><span>Leanring Spot Id</span></dt>
                <dd>
                    <span>{{ occupancyHistory.leanringSpotId }}</span>
                </dd>
                <dt><span>Local Date Stamp</span></dt>
                <dd>
                    <span>{{ occupancyHistory.localDateStamp }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/occupancy-history', occupancyHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
