<div class="row">
    <div class="col-12 text-center">
        <h3><b>Parkplatz Management</b></h3>

    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-md-6">
        <button [routerLink]="'booking'" class="btn btn-light btn-block">
            <fa-icon [icon]="faBookmark" size="6x"></fa-icon>
            <br>
            <a>Parkplatz buchen</a>
        </button>
    </div>
    <div [routerLink]="'reservation'" class="col-12 col-md-6 mt-3 mt-md-0">
        <button class="btn btn btn-light btn-block">
            <fa-icon [icon]="faLock" size="6x"></fa-icon>
            <br><a>Parkplatz reservieren</a>
        </button>
    </div>
    <div class="col-12 col-md-6 mt-3">
        <button [routerLink]="'facility-overview'" class="btn btn-light btn-block">
            <fa-icon [icon]="faParking" size="6x"></fa-icon>
            <br>
            <a>Parkplatzübersicht</a>
        </button>
    </div>
    <div class="col-12 col-md-6 mt-3">
        <button [routerLink]="'car-management'" class="btn btn btn-light btn-block">
            <fa-icon [icon]="faCar" size="6x"></fa-icon>
            <br>
            <a>Autos verwalten</a></button>
    </div>

    <div *ngIf="admin" class="col-12 col-md-6 mt-3">
        <button  [routerLink]="'cost-overview'" class="btn btn btn-light btn-block">
            <fa-icon [icon]="faEuroSign" size="6x"></fa-icon>
            <br>
            <a>Kostenübersicht</a></button>
    </div>

    <div *ngIf="!admin" class="col-12 col-md-13 mt-3">
        <button  [routerLink]="'cost-overview'" class="btn btn btn-light btn-block">
            <fa-icon [icon]="faEuroSign" size="6x"></fa-icon>
            <br>
            <a>Kostenübersicht</a></button>
    </div>


    <div *ngIf="admin" class="col-12 col-md-6 mt-3">
        <button  [routerLink]="'parking-admin'" class="btn btn btn-light btn-block">
            <fa-icon [icon]="faTools" size="6x"></fa-icon>
            <br>
            <a>SmartParking Verwaltung</a></button>
    </div>


</div>



