<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-booking-heading">Create or edit a Booking</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                    <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userId')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('userId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bookingStartStamp">Booking Start Stamp</label>
                    <div class="d-flex">
                        <input id="field_bookingStartStamp" type="datetime-local" class="form-control" name="bookingStartStamp" formControlName="bookingStartStamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bookingEndStamp">Booking End Stamp</label>
                    <div class="d-flex">
                        <input id="field_bookingEndStamp" type="datetime-local" class="form-control" name="bookingEndStamp" formControlName="bookingEndStamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isPaused">Is Paused</label>
                    <input type="checkbox" class="form-control" name="isPaused" id="field_isPaused"
                           formControlName="isPaused"/>
                    <div *ngIf="editForm.get('isPaused')!.invalid && (editForm.get('isPaused')!.dirty || editForm.get('isPaused')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isPaused')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pauseStartStamp">Pause Start Stamp</label>
                    <div class="d-flex">
                        <input id="field_pauseStartStamp" type="datetime-local" class="form-control" name="pauseStartStamp" formControlName="pauseStartStamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pauseEndStamp">Pause End Stamp</label>
                    <div class="d-flex">
                        <input id="field_pauseEndStamp" type="datetime-local" class="form-control" name="pauseEndStamp" formControlName="pauseEndStamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_learningSpot">Learning Spot</label>
                    <select class="form-control" id="field_learningSpot" name="learningSpot" formControlName="learningSpotId">
                        <option *ngIf="!editForm.get('learningSpotId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="learningSpotOption.id" *ngFor="let learningSpotOption of learningspots; trackBy: trackById">{{ learningSpotOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('learningSpotId')!.invalid && (editForm.get('learningSpotId')!.dirty || editForm.get('learningSpotId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('learningSpotId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
